# Falcon related
pytz==2023.3
jsonschema==4.17.3
falcon==3.1.1
uvicorn[standard]==0.20.0 # ASGI
gevent==22.10.2 # WSGI
gunicorn==20.1.0

# Data logging related
httpx==0.24.0
minio==7.1.14

# Dev related
pytest==7.2.1
pylint==2.16.1
mypy==1.0.0
 
# Other
fire==0.5.0

# Moments MDL
git+https://github.com/ai-hero/moments.git@fc1d963
