# Falcon related
pytz==2023.3
jsonschema==4.17.3
falcon==3.1.1
uvicorn[standard]==0.20.0 # ASGI
gevent==22.10.2 # WSGI
gunicorn==20.1.0

# Data logging related
httpx==0.24.0

# Dev related
pytest==7.2.1
pylint==2.16.1
mypy==1.0.0
 
# LLM related
openai==0.27.4
langchain==0.0.147
cohere==4.2.0

# Moments
git+https://github.com/ai-hero/moments.git@2768641
types-pytz